* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: lightblue;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.answers {
  margin-top: 100px;
}

.answers > div {
  margin-top: 10px;
}

.form {
  height: 100vh;
}

.correct-answer {
  color: green;
}

.wrong-answer {
  color: red;
}
